In [2]:
import findspark

In [3]:
findspark.init("/opt/manual/spark/")

In [5]:
from pyspark.sql import SparkSession

In [10]:
spark = SparkSession.builder \
.appName("Intro to DF")\
.master("local[2]")\
.getOrCreate()

In [11]:
spark.version

'3.0.0'

In [12]:
name_age_df = spark.createDataFrame([("suha",28),("ahmet",24),("selin",30)],["name","age"])

/usr/lib64/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [13]:
name_age_df.show()

+-----+---+
| name|age|
+-----+---+
| suha| 28|
|ahmet| 24|
|selin| 30|
+-----+---+

In [14]:
name_age_df.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: long (nullable = true)

In [15]:
# read data

In [16]:
! wget https://github.com/erkansirin78/datasets/blob/a2d4b385808547ae76505e8bcf8777e14c5c2a53/spark_book_data/bike-data/201508_trip_data.csv -P ~/datasets

--2023-08-11 15:05:15--  https://github.com/erkansirin78/datasets/blob/a2d4b385808547ae76505e8bcf8777e14c5c2a53/spark_book_data/bike-data/201508_trip_data.csv
Resolving github.com (github.com)... 140.82.121.3
Connecting to github.com (github.com)|140.82.121.3|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 14825 (14K) [text/plain]
Saving to: ‘/home/train/datasets/201508_trip_data.csv’

100%[======================================>] 14,825      --.-K/s   in 0.03s

2023-08-11 15:05:16 (571 KB/s) - ‘/home/train/datasets/201508_trip_data.csv’ saved [14825/14825]

In [19]:
df = spark.read.csv("file:///home/train/datasets/201508_trip_data.csv")

In [20]:
df.show(3)

+-------+--------+---------------+--------------------+--------------+---------------+--------------------+------------+------+---------------+--------+
|    _c0|     _c1|            _c2|                 _c3|           _c4|            _c5|                 _c6|         _c7|   _c8|            _c9|    _c10|
+-------+--------+---------------+--------------------+--------------+---------------+--------------------+------------+------+---------------+--------+
|Trip ID|Duration|     Start Date|       Start Station|Start Terminal|       End Date|         End Station|End Terminal|Bike #|Subscriber Type|Zip Code|
| 913460|     765|8/31/2015 23:26|Harry Bridges Pla...|            50|8/31/2015 23:39|San Francisco Cal...|          70|   288|     Subscriber|    2139|
| 913459|    1036|8/31/2015 23:11|San Antonio Shopp...|            31|8/31/2015 23:28|Mountain View Cit...|          27|    35|     Subscriber|   95032|
+-------+--------+---------------+--------------------+--------------+---------------+--------------------+------------+------+---------------+--------+
only showing top 3 rows

In [22]:
#read options
df = spark.read \
.option("header",True)  \
.csv("file:///home/train/datasets/201508_trip_data.csv")

In [24]:
df.show(3)

+-------+--------+---------------+--------------------+--------------+---------------+--------------------+------------+------+---------------+--------+
|Trip ID|Duration|     Start Date|       Start Station|Start Terminal|       End Date|         End Station|End Terminal|Bike #|Subscriber Type|Zip Code|
+-------+--------+---------------+--------------------+--------------+---------------+--------------------+------------+------+---------------+--------+
| 913460|     765|8/31/2015 23:26|Harry Bridges Pla...|            50|8/31/2015 23:39|San Francisco Cal...|          70|   288|     Subscriber|    2139|
| 913459|    1036|8/31/2015 23:11|San Antonio Shopp...|            31|8/31/2015 23:28|Mountain View Cit...|          27|    35|     Subscriber|   95032|
| 913455|     307|8/31/2015 23:13|      Post at Kearny|            47|8/31/2015 23:18|   2nd at South Park|          64|   468|     Subscriber|   94107|
+-------+--------+---------------+--------------------+--------------+---------------+--------------------+------------+------+---------------+--------+
only showing top 3 rows

In [25]:
df.count()

354152

In [26]:
df.printSchema()

root
 |-- Trip ID: string (nullable = true)
 |-- Duration: string (nullable = true)
 |-- Start Date: string (nullable = true)
 |-- Start Station: string (nullable = true)
 |-- Start Terminal: string (nullable = true)
 |-- End Date: string (nullable = true)
 |-- End Station: string (nullable = true)
 |-- End Terminal: string (nullable = true)
 |-- Bike #: string (nullable = true)
 |-- Subscriber Type: string (nullable = true)
 |-- Zip Code: string (nullable = true)

In [27]:
df = spark.read \
.option("header",True)  \
.option("inferSchema",True) \
.csv("file:///home/train/datasets/201508_trip_data.csv")

In [28]:
df.printSchema()

root
 |-- Trip ID: integer (nullable = true)
 |-- Duration: integer (nullable = true)
 |-- Start Date: string (nullable = true)
 |-- Start Station: string (nullable = true)
 |-- Start Terminal: integer (nullable = true)
 |-- End Date: string (nullable = true)
 |-- End Station: string (nullable = true)
 |-- End Terminal: integer (nullable = true)
 |-- Bike #: integer (nullable = true)
 |-- Subscriber Type: string (nullable = true)
 |-- Zip Code: string (nullable = true)

In [29]:
df = spark.read \
.option("header",True)  \
.option("inferSchema",True) \
.option("sep",",") \
.csv("file:///home/train/datasets/201508_trip_data.csv")

In [32]:
df.limit(5).toPandas()

,Trip ID,Duration,Start Date,Start Station,Start Terminal,End Date,End Station,End Terminal,Bike #,Subscriber Type,Zip Code
0,913460,765,8/31/2015 23:26,Harry Bridges Plaza (Ferry Building),50,8/31/2015 23:39,San Francisco Caltrain (Townsend at 4th),70,288,Subscriber,2139
1,913459,1036,8/31/2015 23:11,San Antonio Shopping Center,31,8/31/2015 23:28,Mountain View City Hall,27,35,Subscriber,95032
2,913455,307,8/31/2015 23:13,Post at Kearny,47,8/31/2015 23:18,2nd at South Park,64,468,Subscriber,94107
3,913454,409,8/31/2015 23:10,San Jose City Hall,10,8/31/2015 23:17,San Salvador at 1st,8,68,Subscriber,95113
4,913453,789,8/31/2015 23:09,Embarcadero at Folsom,51,8/31/2015 23:22,Embarcadero at Sansome,60,487,Customer,9069

In [33]:
# define custom schema

df_hr = spark.read \
.option("header",True)\
.option("inferSchema",True)\
.option("sep",",")\
.option("compression","gzip")\
.csv("file:///home/train/datasets/Hotel_Reviews.csv.gz")

In [34]:
df_hr.printSchema()

root
 |-- Hotel_Address: string (nullable = true)
 |-- Additional_Number_of_Scoring: integer (nullable = true)
 |-- Review_Date: string (nullable = true)
 |-- Average_Score: double (nullable = true)
 |-- Hotel_Name: string (nullable = true)
 |-- Reviewer_Nationality: string (nullable = true)
 |-- Negative_Review: string (nullable = true)
 |-- Review_Total_Negative_Word_Counts: integer (nullable = true)
 |-- Total_Number_of_Reviews: integer (nullable = true)
 |-- Positive_Review: string (nullable = true)
 |-- Review_Total_Positive_Word_Counts: integer (nullable = true)
 |-- Total_Number_of_Reviews_Reviewer_Has_Given: integer (nullable = true)
 |-- Reviewer_Score: double (nullable = true)
 |-- Tags: string (nullable = true)
 |-- days_since_review: string (nullable = true)
 |-- lat: string (nullable = true)
 |-- lng: string (nullable = true)

In [35]:
df.count()

354152

In [36]:
len(df.columns)

11

In [39]:
df_hr.schema

StructType(List(StructField(Hotel_Address,StringType,true),StructField(Additional_Number_of_Scoring,IntegerType,true),StructField(Review_Date,StringType,true),StructField(Average_Score,DoubleType,true),StructField(Hotel_Name,StringType,true),StructField(Reviewer_Nationality,StringType,true),StructField(Negative_Review,StringType,true),StructField(Review_Total_Negative_Word_Counts,IntegerType,true),StructField(Total_Number_of_Reviews,IntegerType,true),StructField(Positive_Review,StringType,true),StructField(Review_Total_Positive_Word_Counts,IntegerType,true),StructField(Total_Number_of_Reviews_Reviewer_Has_Given,IntegerType,true),StructField(Reviewer_Score,DoubleType,true),StructField(Tags,StringType,true),StructField(days_since_review,StringType,true),StructField(lat,StringType,true),StructField(lng,StringType,true)))

In [44]:
from pyspark.sql.types import *
programmatic_schema = StructType([
StructField("Hotel_Address",StringType(),True),
StructField("Additional_Number_of_Scoring",IntegerType(),True),
StructField("Review_Date",StringType(),True),
StructField("Average_Score",DoubleType(),True),
StructField("Hotel_Name",StringType(),True),
StructField("Reviewer_Nationality",StringType(),True),
StructField("Negative_Review",StringType(),True),
StructField("Review_Total_Negative_Word_Counts",IntegerType(),True),
StructField("Total_Number_of_Reviews",IntegerType(),True),
StructField("Positive_Review",StringType(),True),
StructField("Review_Total_Positive_Word_Counts",IntegerType(),True),
StructField("Total_Number_of_Reviews_Reviewer_Has_Given",IntegerType(),True),
StructField("Reviewer_Score",DoubleType(),True),
StructField("Tags",StringType(),True),
StructField("days_since_review",StringType(),True),
StructField("lat",StringType(),True),
StructField("lng",StringType(),True)
])

In [45]:
df_hr2 = spark.read \
.option("header",True)\
.schema(programmatic_schema)\
.option("sep",",")\
.option("compression","gzip")\
.csv("file:///home/train/datasets/Hotel_Reviews.csv.gz")